setuptools>=74.0
opencv-contrib-python>=4.10
av>=13.0
jsonschema>=4.23
pyyaml>=6.0
paddlepaddle>=3.0,<3.1
paddleocr>=3.0,<3.1
scikit-learn>=1.5
pytesseract>=0.3
diskcache>=5.6
lz4>=4.4
customtkinter>=5.2
pillow>=11.2
